<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GNTRF.IO - Lettings</title>
    <link rel="stylesheet" href="../profile.css">
  </head>
  <body>
    <div class="nav-bar" id="nav-bar">
      <div class="logo">
        <a href="/"><img name="logo" src="../images/logo.png"></a>
      </div>
      <div class="nav-buttons">
        <form>
        <%if session[:user]%>
        <button formaction="/spaces/new">NEW LISTING</button>
        <button formaction="/profile">PROFILE</button>
        <button formaction="/sessions/end">LOG OFF</button>
        <%else%>
        <button formaction="/">LOG IN</button>
        <%end%>
        </form>
      </div>
    </div>
    <div class="container">
    <span class="profile-box-links">
        <a href="/profile">Bookings</a>
        <a href="/profile/lettings">Lettings</a>
        <p class="selected">Spaces</p>
    </span>
    <hr class="box-line">
    <h1 class="current-header">MY SPACES</h1>
    <div class="objects-in-list">
    <%if @spaces.empty?%>
    <h3 class="no-info">No spaces to show yet!</h3>
    <% else%>
    <% @spaces.each do |space|%>
    <div class="order">
    <span class="image">
        <img class="space-img" src="<%= space.image%>">
      </span>
      <span class="headline">
        <%= space.headline%>
      </span>
      <span class="edit-button">
      <form>
      <button>EDIT</button>
      </form>
      </span>
      <%end%>
      </div>
    </div>

    <%end%>
    </div>
  </body>
  </html>
