<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="30" >
    <title>GNTRF.IO - Home</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <nav class="nav-bar">
    <%# Logo %>
    <div class="logo">
        GNTRF.IO
    </div>
    <%# Sign Up Link %>
    <span class="session-buttons">
    <%# Sign In Link %>
    <%if session[:user]%>
    <button>Log Off</button>
    <%else%>
    <button>Sign Up</button>
    <button>Sign In</button>
    <%end%>
    <%# User welcome if logged in %>
    </span>
    </nav>
  </body>
  </html>
