<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="30" >
    <title>GNTRF.IO - Home</title>
  </head>
  <body>
    <div class="logo">
        GNTRF.IO
    </div>
  
    <%#Sign up%>
    <span class="login-box-links">
    <p>Log In</p>
    <a href="#">Sign Up</a>
    </span>
    <%#Register%>
    <form name="login-form">
      <input type="text" name="email">
      <input type="password" name="password">
      <button>Login</button>
    </form>
    </span>
  </body>
  </html>
