<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="30" >
    <title>GNTRF.IO - Home</title>
    <link rel="stylesheet" href="./home.css">
  </head>
  <body>
    <img src="./images/logo.png" class="logo">
    <div class="main-box">
    <span class="login-box-links">
    <%if @state == 'login'%>
      <p class="log-in-selector">Log In</p>
      <a class="sign-up-selector" href="/users/new">Sign Up</a>
    <%else %>
      <a href='/'>Log In</a>
      <p>Sign Up</p>
    <%end %>
    </span>
    <hr class="box-line-break">
    <%if @state == 'login'%>
    <form name="login-form" action="/session/new" method='post'>
      <input type="text" name="email">
      <input type="password" name="password">
      <button>LOGIN</button>
    </form>
    <%else %>
    <form name="registration-form" action="/users/new" method='post'>
      <input type="text" name="email">
      <input type="password" name="password">
      <input type="password" name="confirm-password">
      <button>Register</button>
    </form>
    <%end %>
    </div>
  </body>
  </html>
