<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="30" >
    <title>GNTRF.IO - Spaces</title>
    <link rel="stylesheet" href="../spaces.css">
  </head>
  <body>
    <div class="nav-bar">
      <div class="logo">
        <img src="../images/logo.png">
      </div>
      <div class="nav-buttons">
        <button>NEW LISTING</button>
        <button>PROFILE</button>
        <button>LOG OUT</button>
      </div>
    </div>
    <div class="container">

    <% if @listings.nil? %>
    <h3 class="no-listings">NO CURRENT LISTINGS!</h3>
    <% else%>
    <% @listings.each do |listing|%>
    <p><%=listing.headline%> - £<%=listing.price / 100%></p>
    <%end%>
    <%end%>
    </div>
  </body>
  </html>