<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GNTRF.IO - Spaces</title>
    <link rel="stylesheet" href="../spaces.css">
    <script src="../scripts/nav-bar.js"></script>
  </head>
  <body>
    <div class="nav-bar" id="nav-bar">
      <div class="logo">
        <a href="/"><img name="logo" src="../images/logo.png"></a>
      </div>
      <div class="nav-buttons">
        <form>
        <button formaction="/spaces/new">NEW LISTING</button>
        <button formaction="/profile">PROFILE</button>
        <%if session[:user]%>
        <button formaction="/sessions/end">LOG OFF</button>
        <%else%>
        <button>LOG IN</button>
        <%end%>
        </form>
      </div>
    </div>
    <div class="container">

    <% if @spaces.empty? %>
    <h3 class="no-listings">NO CURRENT SPACES!</h3>
    <% else%>
    <% @spaces.each do |space|%>
    <div class="space">
      <span class="image">
        <img src="https://via.placeholder.com/200x100">
      </span>
      <div class="top-of-space">
      <span class="headline">
      <%=space.headline%>
      </span>
      <span class="price">
      £<%=space.price / 100%> per night
      </span>
      </div>
      <br>
      <br>
      <br>
      <div class="bottom-of-space">
      <span class="description">
      <%=space.description%>
      </span>
      </div>

    </div>
    <%end%>
    <%end%>
    </div>
  </body>
  </html>
