@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

body {
  background-color: #7ec4cf;
  background-image: url("./images/gntrf-background.png");
}

.logo {
  margin: 10px;
}

.main-box {
  opacity: 0.9;
  background: #d4afb9;
  border: 2px solid #d1cfe2;
  border-radius: 71px;
  width: 650px;
  height: 590px;
  margin: auto;
}

.login-box-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.log-in-selector {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 38px;
  color: #000000;
  text-align: left;
}

.sign-up-selector {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 38px;
  color: #000000;
  text-align: left;
}

.box-line-break {
  border: 1px solid #d1cfe2;
  position: relative;
  bottom: 30px;
}

button {
  background: #7ec4cf;
  border: 1px solid #52b2cf;
  border-radius: 33.5px;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: white;
  padding: 7.5px 25px 7.5px 25px;  
}

button:hover {
    cursor: pointer;
    background: #52b2cf;
}
