@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

body {
  background-color: #7ec4cf;
  background-image: url("./images/gntrf-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 105%;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

.logo {
  margin: 10px;
}