@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

body {
  background-color: #7ec4cf;
  background-image: url("./images/gntrf-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 105%;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

.nav-bar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  transition: top 0.3s;
}

.logo {
  position: absolute;
  display: inline;
  top: 5px;
  left: 5px;
}

.nav-buttons {
  position: absolute;
  display: inline;
  right: 35px;
  top: 25px;
}

button {
  background: #7ec4cf;
  border: 1px solid #52b2cf;
  border-radius: 33.5px;
  font-size: 32px;
  color: white;
  padding: 7.5px 25px 7.5px 25px;
}

.nav-buttons button {
  margin-right: 15px;
}

button:hover {
  cursor: pointer;
  background: #52b2cf;
}

.container {
  margin: auto;
  margin-top: 150px;
  width: 70%;
  height: 500px;
  
  padding: 28.9px 25px 204.6px 26px;
  opacity: 0.9;
  border-radius: 29px;
  border: solid 2px #d1cfe2;
  background-color: #d4afb9;
}
